Importing Libraries

In [ ]:
import numpy as np 
import pandas as pd 
#import matplotlib.pyplot as plt

from sklearn.model_selection import train_test_split
from sklearn.preprocessing import StandardScaler

from keras import Sequential
from keras.layers import Dense

In [4]:
data = pd.read_csv("D:\Downloads\gender_classification_v7.csv")

In [5]:
data.head()

,long_hair,forehead_width_cm,forehead_height_cm,nose_wide,nose_long,lips_thin,distance_nose_to_lip_long,gender
0,1,11.8,6.1,1,0,1,1,Male
1,0,14.0,5.4,0,0,1,0,Female
2,0,11.8,6.3,1,1,1,1,Male
3,0,14.4,6.1,0,1,1,1,Male
4,1,13.5,5.9,0,0,0,0,Female

In [6]:
data.tail()

,long_hair,forehead_width_cm,forehead_height_cm,nose_wide,nose_long,lips_thin,distance_nose_to_lip_long,gender
4996,1,13.6,5.1,0,0,0,0,Female
4997,1,11.9,5.4,0,0,0,0,Female
4998,1,12.9,5.7,0,0,0,0,Female
4999,1,13.2,6.2,0,0,0,0,Female
5000,1,15.4,5.4,1,1,1,1,Male

In [14]:
data.isna().sum()

long_hair                    0
forehead_width_cm            0
forehead_height_cm           0
nose_wide                    0
nose_long                    0
lips_thin                    0
distance_nose_to_lip_long    0
gender                       0
dtype: int64

In [7]:
data.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 5001 entries, 0 to 5000
Data columns (total 8 columns):
 #   Column                     Non-Null Count  Dtype
---  ------                     --------------  -----
 0   long_hair                  5001 non-null   int64
 1   forehead_width_cm          5001 non-null   float64
 2   forehead_height_cm         5001 non-null   float64
 3   nose_wide                  5001 non-null   int64
 4   nose_long                  5001 non-null   int64
 5   lips_thin                  5001 non-null   int64
 6   distance_nose_to_lip_long  5001 non-null   int64
 7   gender                     5001 non-null   object
dtypes: float64(2), int64(5), object(1)
memory usage: 312.7+ KB

In [8]:
data.corr(numeric_only=True)

,long_hair,forehead_width_cm,forehead_height_cm,nose_wide,nose_long,lips_thin,distance_nose_to_lip_long
long_hair,1.000000,-0.006530,-0.017233,0.001216,0.014432,0.011287,-0.025794
forehead_width_cm,-0.006530,1.000000,0.088596,0.251648,0.257368,0.258564,0.251328
forehead_height_cm,-0.017233,0.088596,1.000000,0.211655,0.194120,0.205441,0.215292
nose_wide,0.001216,0.251648,0.211655,1.000000,0.565192,0.557615,0.569303
nose_long,0.014432,0.257368,0.194120,0.565192,1.000000,0.561229,0.559794
lips_thin,0.011287,0.258564,0.205441,0.557615,0.561229,1.000000,0.565312
distance_nose_to_lip_long,-0.025794,0.251328,0.215292,0.569303,0.559794,0.565312,1.000000

In [9]:
data.shape

(5001, 8)

In [17]:
data["gender"] = data["gender"].map({"Male": 1, "Female": 0})

In [18]:
data.head()

,long_hair,forehead_width_cm,forehead_height_cm,nose_wide,nose_long,lips_thin,distance_nose_to_lip_long,gender
0,1,11.8,6.1,1,0,1,1,1
1,0,14.0,5.4,0,0,1,0,0
2,0,11.8,6.3,1,1,1,1,1
3,0,14.4,6.1,0,1,1,1,1
4,1,13.5,5.9,0,0,0,0,0

In [19]:
X = data.drop('gender', axis=1)
y = data['gender']

In [20]:
X_train, X_test, y_train, y_test = train_test_split(X, y, test_size=0.2, random_state=1)

In [21]:
scaler = StandardScaler()
X_train = scaler.fit_transform(X_train)
X_test  = scaler.transform(X_test)

In [22]:
y_train = y_train.to_numpy()
y_test  = y_test.to_numpy()

Creating ANN

In [23]:
model = Sequential()
model.add(Dense(7, activation='relu', input_dim=7))
model.add(Dense(64, activation='relu'))
model.add(Dense(1, activation='sigmoid'))

c:\Users\Linnes P J\anaconda3\envs\tf\Lib\site-packages\keras\src\layers\core\dense.py:87: UserWarning: Do not pass an `input_shape`/`input_dim` argument to a layer. When using Sequential models, prefer using an `Input(shape)` object as the first layer in the model instead.
  super().__init__(activity_regularizer=activity_regularizer, **kwargs)

In [24]:
model.summary()

Model: "sequential"

┏━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━┳━━━━━━━━━━━━━━━━━━━━━━━━┳━━━━━━━━━━━━━━━┓
┃ Layer (type)                    ┃ Output Shape           ┃       Param # ┃
┡━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━╇━━━━━━━━━━━━━━━━━━━━━━━━╇━━━━━━━━━━━━━━━┩
│ dense (Dense)                   │ (None, 7)              │            56 │
├─────────────────────────────────┼────────────────────────┼───────────────┤
│ dense_1 (Dense)                 │ (None, 64)             │           512 │
├─────────────────────────────────┼────────────────────────┼───────────────┤
│ dense_2 (Dense)                 │ (None, 1)              │            65 │
└─────────────────────────────────┴────────────────────────┴───────────────┘

 Total params: 633 (2.47 KB)

 Trainable params: 633 (2.47 KB)

 Non-trainable params: 0 (0.00 B)

In [36]:
model.compile(optimizer='adam',
              loss='binary_crossentropy',
              metrics=['accuracy'])

In [37]:
history = model.fit(X_train, y_train, batch_size=5, validation_data=(X_test, y_test), epochs=20, verbose=2)

Epoch 1/20
800/800 - 2s - 3ms/step - accuracy: 0.9820 - loss: 0.0469 - val_accuracy: 0.9730 - val_loss: 0.0905
Epoch 2/20
800/800 - 3s - 4ms/step - accuracy: 0.9810 - loss: 0.0449 - val_accuracy: 0.9720 - val_loss: 0.0900
Epoch 3/20
800/800 - 2s - 2ms/step - accuracy: 0.9818 - loss: 0.0448 - val_accuracy: 0.9650 - val_loss: 0.0857
Epoch 4/20
800/800 - 2s - 2ms/step - accuracy: 0.9808 - loss: 0.0455 - val_accuracy: 0.9730 - val_loss: 0.0847
Epoch 5/20
800/800 - 1s - 2ms/step - accuracy: 0.9820 - loss: 0.0450 - val_accuracy: 0.9670 - val_loss: 0.0833
Epoch 6/20
800/800 - 1s - 1ms/step - accuracy: 0.9803 - loss: 0.0448 - val_accuracy: 0.9720 - val_loss: 0.0857
Epoch 7/20
800/800 - 1s - 1ms/step - accuracy: 0.9818 - loss: 0.0450 - val_accuracy: 0.9700 - val_loss: 0.0863
Epoch 8/20
800/800 - 1s - 1ms/step - accuracy: 0.9818 - loss: 0.0448 - val_accuracy: 0.9710 - val_loss: 0.0875
Epoch 9/20
800/800 - 1s - 1ms/step - accuracy: 0.9815 - loss: 0.0441 - val_accuracy: 0.9750 - val_loss: 0.0860
Epoch 10/20
800/800 - 1s - 1ms/step - accuracy: 0.9820 - loss: 0.0443 - val_accuracy: 0.9710 - val_loss: 0.0919
Epoch 11/20
800/800 - 2s - 3ms/step - accuracy: 0.9805 - loss: 0.0448 - val_accuracy: 0.9750 - val_loss: 0.0859
Epoch 12/20
800/800 - 2s - 3ms/step - accuracy: 0.9815 - loss: 0.0445 - val_accuracy: 0.9720 - val_loss: 0.0887
Epoch 13/20
800/800 - 1s - 1ms/step - accuracy: 0.9815 - loss: 0.0443 - val_accuracy: 0.9680 - val_loss: 0.0897
Epoch 14/20
800/800 - 1s - 1ms/step - accuracy: 0.9812 - loss: 0.0443 - val_accuracy: 0.9690 - val_loss: 0.0854
Epoch 15/20
800/800 - 1s - 1ms/step - accuracy: 0.9805 - loss: 0.0429 - val_accuracy: 0.9700 - val_loss: 0.0968
Epoch 16/20
800/800 - 1s - 1ms/step - accuracy: 0.9820 - loss: 0.0436 - val_accuracy: 0.9720 - val_loss: 0.0882
Epoch 17/20
800/800 - 1s - 1ms/step - accuracy: 0.9818 - loss: 0.0439 - val_accuracy: 0.9720 - val_loss: 0.0930
Epoch 18/20
800/800 - 2s - 3ms/step - accuracy: 0.9818 - loss: 0.0443 - val_accuracy: 0.9650 - val_loss: 0.0879
Epoch 19/20
800/800 - 3s - 3ms/step - accuracy: 0.9805 - loss: 0.0443 - val_accuracy: 0.9720 - val_loss: 0.0909
Epoch 20/20
800/800 - 3s - 4ms/step - accuracy: 0.9810 - loss: 0.0430 - val_accuracy: 0.9710 - val_loss: 0.0935

In [39]:
pred = model.predict(X_test)

32/32 ━━━━━━━━━━━━━━━━━━━━ 0s 7ms/step

In [40]:
for i in range(10):
    print('Actual result: ', y_test[i])
    print('Predicted result: ', pred[i])
    print()

Actual result:  0
Predicted result:  [0.00151373]

Actual result:  1
Predicted result:  [0.99860156]

Actual result:  0
Predicted result:  [6.0129096e-08]

Actual result:  0
Predicted result:  [0.33721858]

Actual result:  0
Predicted result:  [3.25854e-07]

Actual result:  1
Predicted result:  [0.97852093]

Actual result:  1
Predicted result:  [1.]

Actual result:  0
Predicted result:  [1.3901782e-06]

Actual result:  1
Predicted result:  [0.99007607]

Actual result:  1
Predicted result:  [0.13964225]

In [48]:
print(model.input_shape)

(None, 7)

In [43]:
model.save('gender.h5')

WARNING:absl:You are saving your model as an HDF5 file via `model.save()` or `keras.saving.save_model(model)`. This file format is considered legacy. We recommend using instead the native Keras format, e.g. `model.save('my_model.keras')` or `keras.saving.save_model(model, 'my_model.keras')`.

In [44]:
from tensorflow.keras.models import load_model
loaded_model=load_model("gender.h5")

WARNING:absl:Compiled the loaded model, but the compiled metrics have yet to be built. `model.compile_metrics` will be empty until you train or evaluate the model.

In [56]:
x_new=np.array([[0,16,5,1,1,0,0],[0,10,0,0,0,0,0],[1,10,5,1,1,1,1]])
predictions= loaded_model.predict(x_new)
print(predictions)

1/1 ━━━━━━━━━━━━━━━━━━━━ 0s 33ms/step
[[1.]
 [1.]
 [1.]]